.panchakarma-section {
  background-color: #e2c665; /* same yellow background */
  padding: 40px 20px;
  font-family: "Georgia", serif;
  color: #1a1a1a;
  height: 700px;
}

/* Top Feature Row */
.features-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
  position: absolute;
  top: 650px;
  padding: 20px;
  bottom: auto;
  height: 220px;
  /* opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s; */
  perspective: 1000px;
}

.features-card {
  background-color: #1f3b2f;
  color: #f5d27a;
  flex: 1;
  /* padding: 20px; */
  border-radius: 15px;
  text-align: center;
  min-height: 150px;
  /* transition: transform 0.4s ease, box-shadow 0.4s ease; */
  transform: rotateX(90deg); /* start flipped */
  opacity: 0;
  animation: flipIn 0.8s ease forwards;
  
}

.features-card h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Kaisei Tokumin;
}

.features-card p {
  margin: 20px;
  font-size: 20px;
  color: #e1e1e1;
}

.features-card:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

/* Bottom Content */
.panchakarma-content {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 40px;
  
}
.panchakarma-image {
  position: relative;
  max-width: 700px;
  overflow: hidden;
  transform-origin: bottom center; /* rotate like a compass */
}

.panchakarma-image img {
  width: 100%;
  height: auto;
  transform-origin: bottom center;
  animation: rotateSemi 2s ease forwards;
}

/* Rotate 0° → 180° once */
@keyframes rotateSemi {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.panchakarma-text {
  max-width: 500px;
  margin-right: 50px;
}

.panchakarma-text h1 {
  font-size: 44px;
  color: #1a1a1a;
  margin-top: 149px;
  margin-bottom: 15px;
}

.panchakarma-text p {
  margin-bottom: 12px;
  /* margin-top: 100px; */
  font-size: 24px;
  line-height: 1.5;
}



.features-card:nth-child(1) { animation-delay: 0.2s; }
.features-card:nth-child(2) { animation-delay: 0.6s; }
.features-card:nth-child(3) { animation-delay: 1s; }
.features-card:nth-child(4) { animation-delay: 1.4s; }

@keyframes flipIn {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.features-card:hover {
  transform: rotateX(15deg) scale(1.03);
  transition: transform 0.4s ease;
}